mainmenu "EPS Application"

	source "Kconfig.zephyr"

menu "EPS options"

	config CAN_LINK_NODE_ADDR
		hex "Local CAN node address (8-bit)"
		default 0x02
		range 0x01 0xFE

	config CAN_LINK_PEER_NODE_ADDR
		hex "Peer CAN node address for unicast demo TX (8-bit)"
		default 0x01
		range 0x01 0xFE

	config CAN_LINK_COMMAND_PRIORITY
		int "CAN priority for command / broadcast traffic (0..7)"
		default 3
		range 0 7

	config CAN_LINK_TELEMETRY_PRIORITY
		int "CAN priority for telemetry/unicast traffic (0..7)"
		default 6
		range 0 7

	config CAN_LINK_LOOPBACK
		bool "Enable CAN loopback mode for self-test"
		default n

	config CAN_LINK_TX_PERIOD_MS
		int "TX period in milliseconds"
		default 1000
		range 10 60000

	config CAN_LINK_RX_THREAD_STACK_SIZE
		int "CAN RX task stack size"
		default 1536
		range 512 8192

	config CAN_LINK_RX_THREAD_PRIORITY
		int "CAN RX task priority"
		default 5
		range -16 15

	config CAN_LINK_RX_TIMEOUT_MS
		int "CAN RX timeout in milliseconds"
		default 2000
		range 10 60000

	config CAN_LINK_RX_BUFFER_SIZE
		int "CAN RX buffer size (ISO-TP payload bytes)"
		default 128
		range 8 4095

	config CAN_LINK_BROADCAST_TX_ENABLE
		bool "Enable periodic broadcast transmit in main demo app"
		default n

	config CAN_LINK_BROADCAST_TX_PERIOD_MS
		int "Broadcast TX period in milliseconds (demo app)"
		default 3000
		range 100 60000

	endmenu
