/ {
	chosen {
		zephyr,canbus = &can1;
	};
};

&can1 {
	pinctrl-0 = <&can_rx_pa11 &can_tx_pa12>;
	pinctrl-names = "default";
	bitrate = <125000>;
	status = "okay";

	can-transceiver {
		max-bitrate = <1000000>;
	};
};

&usb {
	status = "disabled";
};
